/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
*.dll
obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/Debug/PAM.csproj.AssemblyReference.cache
obj/Debug/PAM.csproj.CopyComplete
obj/Debug/PAM.csproj.CoreCompileInputs.cache
obj/Debug/PAM.csproj.FileListAbsolute.txt
obj/Debug/PAM.pdb

*.dll
SaveFixer/bin/Debug/0Harmony.dll
SaveFixer/bin/Debug/Assembly-CSharp-firstpass.dll
SaveFixer/bin/Debug/Assembly-CSharp.dll
SaveFixer/bin/Debug/AssetRipper.VersionUtilities.dll
SaveFixer/bin/Debug/AssetsTools.NET.dll
SaveFixer/bin/Debug/bHapticsLib.dll
SaveFixer/bin/Debug/com.rlabrecque.steamworks.net.dll
SaveFixer/bin/Debug/DebuggingMod.dll
SaveFixer/bin/Debug/DOTween.dll
SaveFixer/bin/Debug/Iced.dll
SaveFixer/bin/Debug/Il2CppMono.Security.dll
SaveFixer/bin/Debug/Il2Cppmscorlib.dll
SaveFixer/bin/Debug/Il2CppNewtonsoft.Json.dll
SaveFixer/bin/Debug/Il2CppSystem.Configuration.dll
SaveFixer/bin/Debug/Il2CppSystem.Core.dll
SaveFixer/bin/Debug/Il2CppSystem.Data.dll
SaveFixer/bin/Debug/Il2CppSystem.dll
SaveFixer/bin/Debug/Il2CppSystem.Numerics.dll
SaveFixer/bin/Debug/Il2CppSystem.Runtime.Serialization.dll
SaveFixer/bin/Debug/Il2CppSystem.Xml.dll
SaveFixer/bin/Debug/Il2CppSystem.Xml.Linq.dll
SaveFixer/bin/Debug/MelonLoader.dll
SaveFixer/bin/Debug/MelonLoader.xml
SaveFixer/bin/Debug/Mono.Cecil.dll
SaveFixer/bin/Debug/Mono.Cecil.Mdb.dll
SaveFixer/bin/Debug/Mono.Cecil.Pdb.dll
SaveFixer/bin/Debug/Mono.Cecil.Rocks.dll
SaveFixer/bin/Debug/MonoMod.RuntimeDetour.dll
SaveFixer/bin/Debug/MonoMod.Utils.dll
SaveFixer/bin/Debug/SaveFixer.dll
SaveFixer/bin/Debug/SaveFixer.pdb
SaveFixer/bin/Debug/Tomlet.dll
SaveFixer/bin/Debug/UnhollowerBaseLib.dll
SaveFixer/bin/Debug/Unity.Addressables.dll
SaveFixer/bin/Debug/Unity.InputSystem.dll
SaveFixer/bin/Debug/Unity.Localization.dll
SaveFixer/bin/Debug/Unity.Mathematics.dll
SaveFixer/bin/Debug/Unity.RenderPipelines.Core.Runtime.dll
SaveFixer/bin/Debug/Unity.RenderPipelines.HighDefinition.Runtime.dll
SaveFixer/bin/Debug/Unity.ResourceManager.dll
SaveFixer/bin/Debug/Unity.TextMeshPro.dll
SaveFixer/bin/Debug/Unity.Timeline.dll
SaveFixer/bin/Debug/Unity.VisualEffectGraph.Runtime.dll
SaveFixer/bin/Debug/UnityEngine.AnimationModule.dll
SaveFixer/bin/Debug/UnityEngine.AssetBundleModule.dll
SaveFixer/bin/Debug/UnityEngine.AudioModule.dll
SaveFixer/bin/Debug/UnityEngine.CoreModule.dll
SaveFixer/bin/Debug/UnityEngine.DirectorModule.dll
SaveFixer/bin/Debug/UnityEngine.IMGUIModule.dll
SaveFixer/bin/Debug/UnityEngine.InputLegacyModule.dll
SaveFixer/bin/Debug/UnityEngine.InputModule.dll
SaveFixer/bin/Debug/UnityEngine.JSONSerializeModule.dll
SaveFixer/bin/Debug/UnityEngine.ParticleSystemModule.dll
SaveFixer/bin/Debug/UnityEngine.Physics2DModule.dll
SaveFixer/bin/Debug/UnityEngine.PhysicsModule.dll
SaveFixer/bin/Debug/UnityEngine.SharedInternalsModule.dll
SaveFixer/bin/Debug/UnityEngine.SubsystemsModule.dll
SaveFixer/bin/Debug/UnityEngine.TerrainModule.dll
SaveFixer/bin/Debug/UnityEngine.TextCoreFontEngineModule.dll
SaveFixer/bin/Debug/UnityEngine.TextCoreTextEngineModule.dll
SaveFixer/bin/Debug/UnityEngine.TextRenderingModule.dll
SaveFixer/bin/Debug/UnityEngine.UI.dll
SaveFixer/bin/Debug/UnityEngine.UIElementsModule.dll
SaveFixer/bin/Debug/UnityEngine.UIElementsNativeModule.dll
SaveFixer/bin/Debug/UnityEngine.UIModule.dll
SaveFixer/bin/Debug/UnityEngine.UnityWebRequestAssetBundleModule.dll
SaveFixer/bin/Debug/UnityEngine.UnityWebRequestModule.dll
SaveFixer/bin/Debug/UnityEngine.VFXModule.dll
SaveFixer/bin/Debug/UnityEngine.VideoModule.dll
SaveFixer/bin/Debug/UnityEngine.XRModule.dll
SaveFixer/bin/Debug/WebSocketDotNet.dll
SaveFixer/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
SaveFixer/obj/Debug/SaveFixer.csproj.AssemblyReference.cache
SaveFixer/obj/Debug/SaveFixer.csproj.CopyComplete
SaveFixer/obj/Debug/SaveFixer.csproj.CoreCompileInputs.cache
SaveFixer/obj/Debug/SaveFixer.csproj.FileListAbsolute.txt
SaveFixer/obj/Debug/SaveFixer.dll
SaveFixer/obj/Debug/SaveFixer.pdb
SaveFixer/bin/Debug/Assembly-CSharp-firstpass.dll
